@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor-background: #01155c ;
    --cor-primaria: #22D4FD;
    --cor-secundaria: #F6F6F6;
    --cor-hover: #1e3f6f;
    --font-titulo-principal: 'Krona One', sans-serif;
    --font-textos: 'Raleway', sans-serif;  
}

html{
    font-size: 10px;
    font-family: var(--font-titulo-principal);
    scroll-behavior: smooth;
}

body{           
    color: var(--cor-secundaria);
}

/* Cabeçalho */

.cabecalho {
    padding: 2% 0 2% 15%;
    background-color: var(--cor-background);
    
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-textos);
    font-size: 20px;
    font-weight: 800;
    color: var(--cor-primaria);
    text-decoration: none;   
}

/* FIM - Cabeçalho */

/* apresentação - quem sou */

#presentation{
    background-image: url(/portfolio-joelma/img/background1.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

a{
    text-decoration: none;
}

#presentation .cta{   
    padding: 10px 30px;
    border-radius: 8px;  
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--font-textos);
    font-weight: 500;
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color; 
    width: 378px;
}

#presentation .cta:hover{
    color: var(--cor-secundaria);
    font-weight: 800;
    background-color: var(--cor-hover);
    border: 2px solid var(--cor-primaria);
}

.apresentacao__conteudo__titulo {
    font-size: 2.5rem;
    font-family: var(--font-titulo-principal);    
}

.apresentacao__conteudo__curriculo {
    font-size: 2.5rem;
    font-family: var(--font-titulo-principal);  
    color: var(--cor-primaria);  
}

.apresentacao__conteudo__curriculo__li {
    font-weight: 800;
    color: var(--cor-secundaria);
    padding: 5% 0;
    margin: 10px;    
}

.apresentacao__links__certificados {
    font-weight: 800;
    font-size: 2rem;
    padding: 5% 0;       
}

.apresentacao__conteudo__certificado {
    font-weight: 800;
}

.apresentacao__links__certificados p {
    padding: 2% 0 5% 0;
    font-weight: 600;
    color: #999d9d;    
}

#botoes__apresentacao {
    padding-top: 10%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: var(--cor-background);
}

#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}

/* FIM - apresentação - quem sou */

/* apresentação - redes sociais */
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
     background-color: var(--cor-background); 
}

.apresentacao__conteudo {
    width: 615px;    
    display: flex;
    flex-direction: column;
    gap: 40px;       
}

.apresentacao__conteudo__titulo {
    font-size: 33px;
    font-family: var(--font-titulo-principal);    
}

.titulo-destaque {
    color: var(--cor-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 20px;    
    font-family: var(--font-textos);
    padding-right: 50px;      
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-primaria);
}

.minhaFoto {       
    width: 490px;
    height: 550px;    
    border-radius: 10px;  
}

.apresentacao__links__contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-textos);
    font-size: 24px;
}

.apresentacao__links__botoes {    
    display: flex;
    justify-content: center;
    gap: 16px;   
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-primaria);;
    font-size: 24px;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-textos);
    font-weight: 500;
    transition: .5s ease;
    transition-property: background-color, color;     
}

.apresentacao__links__botoes:hover {
    background-color: var(--cor-hover);
    font-weight: 800;
}

/* FIM - apresentação - redes sociais */


/* Seção de Portifólio */

.fotoApresentacao{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: var(--cor-background);
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#portfolio .portfolio-header h1{
    margin-bottom: 50px;
}

#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 5%;    
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, var(--cor-primaria) 0%, var(--cor-background) 100%);
    color: white;
}

#portfolio .project-info h1{
    font-size: 4rem;
    font-weight: 500;    
}

#portfolio .project-info h2{
    color: var(--cor-background);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 5%;
}

.texto-portfolio {
    color: var(--cor-secundaria);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}

#portfolio .project-img img{
    transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* FIM - Seção de Portifólio */

/* Rodape */

.rodape {
    padding: 24px;
    background-color: var(--cor-primaria);
    color: var(--cor-background);
    text-align: center;
    font-family: var(--font-textos);
    font-weight: 800;
    font-size: 18px;
}

/*FIM - Rodape */

/* Keyframes */

@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: #22D4FD;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info{
        height: 100%
    }
    #portfolio .all-projects .project-img{
        height: 100%
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}